{% extends 'base.html' %}
{% block content %}

<style>
    h1,
    h3 {
        text-align: center;
        margin: 42px 0px 42px 0px;
    }

    button {
        border-radius: 30px;
        margin: 8px;
    }
</style>


<h1>{{ data.companyName}}</h1>
<hr />

<h3>Shares to Buy</h3>
<h1>$ {{ data.latestPrice }}</h1>
<div class="container w-50 ml-auto mr-auto">

    <div class="row">
        <a class='col'>5</a>
        <button class='col'><a href='{% url "where" peram %}'>10</a></button>
        <button class='col'><a href='#'>20</a></button>
    </div>
    <div class="row">
        <button class='col'><a href='#'>50</a></button>
        <button class='col'><a href='#'>100</a></button>
        <button class='col'><a href='#'>...</a></button>
    </div>



</div>

{% endblock %}