{% extends 'base.html' %}
{% block content %}

<style>
    h1,
    h3 {
        text-align: center;
        margin: 42px 0px 42px 0px;
    }

    button {
        border-radius: 30px;
        margin: 8px;
    }
</style>

<h1>{{ data.companyName}}</h1>
<hr />

<h3>Shares to Buy</h3>
<h1>$ {{ data.latestPrice }}</h1>
<div class="container w-50 ml-auto mr-auto">

    <div class="row">
        <a class='col' href="{% 'url' finishBuy %}">5</a>
        <a clss='col' href="{% 'url' finishBuy %}">10</a>
        <a clss='col' href="#">20</a>
    </div>
    <div class="row">
        <a class='col' href="#">50</a>
        <a clss='col' href="#">100</a>
        <a clss='col' href="#">...</a>
    </div>



</div>

{% endblock %}