{% extends 'base.html' %}
{% block content %}

<style>
    h1,
    h3 {
        text-align: center;
        margin: 42px 0px 42px 0px;
    }

    #center {
        text-align: center;
    }

    button {
        border-radius: 30px;
        margin: 8px;
    }
</style>

<h1>{{ data.companyName}}</h1>
<p id='center'>{{data.symbol}}</p>
<hr />

<h3>Shares to Buy</h3>
<p id='center'><a href="{% url 'sell' data.symbol %}">Or Sell!</a></p>

<h1>

    $ {{ data.latestPrice }}
    <i class="fas fa-arrow-up" style="font-size:60px;color:turquoise;"></i>
    <i class="fas fa-arrow-down" style="font-size:60px;color:palevioletred;"></i>

</h1>
<h1 id="center">
    <br />
    % {{data.change}}
</h1>

<div class="container w-50 ml-auto mr-auto">
    <div class="centerBlock">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

            <a class="btn btn-primary" href="{% url 'finalize' data.symbol 5%}" role="button">5</a>
            <a class="btn btn-primary" href="{% url 'finalize' data.symbol 10%}" role="button">10</a>
            <a class="btn btn-primary" href="{% url 'finalize' data.symbol 20%}" role="button">20</a>
            <a class="btn btn-primary" href="{% url 'finalize' data.symbol 50%}" role="button">50</a>
            <a class="btn btn-primary" href="{% url 'finalize' data.symbol 100%}" role="button">100</a>
            <a class="btn btn-primary" href="#" role="button">...</a>

        </div>

    </div>
</div>

{% endblock %}